.footer {
  background-color: var(--highlight-bg);
  padding: 42px 12px;
  box-sizing: border-box;
  height: auto;

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    margin-top: 32px;
  }

  &__email {
    display: block;
    text-align: center;
    margin-top: 42px;
    font-style: italic;
    text-decoration: underline;
  }
}
