.footer {
  background-color: var(--highlight-bg);
  padding: 2.625rem 0.75rem;
  box-sizing: border-box;
  height: auto;

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    margin-top: 2rem;
  }

  &__email {
    display: block;
    text-align: center;
    margin-top: 2.625rem;
    font-style: italic;
    text-decoration: underline;
  }
}
