<p-card [header]="title" class="card" [style]="{ height: '479px' }">
  <ng-template pTemplate="header">
    <div class="container-image">
      <img alt="Card" [src]="image" />
    </div>
  </ng-template>

  <p>
    {{ description }}
  </p>

  <!-- * Buttons  -->
  <ng-template pTemplate="footer" *ngIf="isLogged">
    <p-button
      label="Editar"
      icon="pi pi-file-edit"
      (click)="clickEdit()"
    ></p-button>

    <p-button
      label="Eliminar"
      icon="pi pi-trash"
      styleClass="p-button-danger"
      (click)="clickDelete()"
      class="button"
    ></p-button>
  </ng-template>
  <!-- * Buttons  -->
</p-card>
