<p-card [header]="title">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="image" />
  </ng-template>

  <p>
    {{ description }}
  </p>

  <!-- * Buttons  -->
  <ng-template pTemplate="footer" *ngIf="isLogged">
    <p-button label="Editar" icon="pi pi-file-edit"></p-button>
    <p-button
      label="Eliminar"
      icon="pi pi-trash"
      styleClass="p-button-danger"
      (click)="clickDelete()"
      class="button"
    ></p-button>
  </ng-template>
  <!-- * Buttons  -->
</p-card>
